// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

// Variables
@import "variables";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

body,
html {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}
